Assets/TextMesh[[:space:]]Pro/Fonts/*.ttf filter=lfs diff=lfs merge=lfs -text
Assets/TextMesh[[:space:]]Pro/Fonts/*.otf filter=lfs diff=lfs merge=lfs -text
Assets/TextMesh[[:space:]]Pro/Fonts/*SDF.asset filter=lfs diff=lfs merge=lfs -text
